* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #D0EDF1;
    box-sizing: border-box;
}

/* ||Header */

.nav-container {
    width: 100%;
    height: 50px;
    background-color: #FFF;
    position: fixed;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.08);
    z-index: 8;
}
.famy-logo-img {
    position: absolute;
    left: 32px;
    max-width: 37px;
    height: auto;
}
.famy-logo-name a {
    text-decoration: none;
    color: black;
    /*middle part doesn't link*/
}
.famy-logo-name {
    font-size: 29px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 60px;
    padding: 8px 0 0 0;
    letter-spacing: 1px;
    font-weight: 500;
}

.nav-ul {
    position: relative;
    bottom: 27px;
    right: 25px;
    text-align: right;
}
.nav-li {
    display: inline-block;
    margin: 0 50px 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
.nav-li a {
    text-decoration: none;
    color: black;
}
.nav-li a:visited {
    color: black;
}
.nav-li a:hover {
    border-bottom: 4px solid #415C8C;
}
.nav-li a:active {
    border-bottom-color: #080b11;
}

/* ||Main */

.white-box {
    background-color: white;
    width: 1180px;
    height: 500px;
    position: absolute;
    top: 130px;
    left: 120px;
}
.girl-1-img {
    width: 400px;
    height: auto;
    position: relative;
    left: 70px;
    bottom: 40px;
}
.welcome-phrase {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    position: relative;
    float: right;
    right: 280px;
    top: 50px;
    }

.read-more {
    font-size: 40px;
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 15px;
}
.read-more a {
    text-decoration: none;
    color: black;
}
.read-more a:hover {
    border-bottom: 4px solid #415C8C;
}
.read-more a:active {
    border-bottom-color: #080b11;
}
.blue-line {
    background-color:#415C8C;
    position: relative;
    width: 700px;
    height: 14px;
    left: 650px;
    bottom: 150px;
    transform: rotate(-20deg);
}
.description {
    width: 100%;
}
.girl-2-img {
    width: 500px;
    height: auto;
    position: relative;
    left: 900px;
    top: 570px;
}
.description-box {
    width: 450px;
    height: 500px;
    margin: 120px 0 50px 280px;
    text-align: center;
    position: relative;
    top: 50px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}
.eyes {
    border-bottom: 8px solid white;
    line-height: 15px;
    display: inline-block;
    padding: 0 6px;
}
.description-p {
    padding: 25px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    text-align: center;
    line-height: 32px;
}
/* ||Footer */
footer {
    width: 100%;
    height: 60px;
    background-color: #415C8C;
    display: inline-block;
    margin-top: 50px;
   /* overflow: hidden;*/
    
}
.footer-end {
    position: relative;
    width: 370px;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
}
.copyright {
    font-family: 'Raleway', sans-serif;
    color: white;
}
.socials {
    position: relative;
    bottom: 5px;
    width: 100px;
    float: right;
}
.socials-list {
    display: flex;
    list-style: none;
}
.footer-svg {
    padding: 0 13px 0 0;
}
.footer-svg path:hover {
    fill: black;
}

